header{
    height: 96px;
    background-color: var(--violet);
}

.header--logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header--logo h1{
    margin-right: 10px;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5em;
    color: white;
}